<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>182756408306-doo068nrqmu7ubg6dor4cgs45pldpnlc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.182756408306-doo068nrqmu7ubg6dor4cgs45pldpnlc</string>
	<key>API_KEY</key>
	<string>AIzaSyD0lsXuge8XL9EbcXAgA8cgGlaks399nyM</string>
	<key>GCM_SENDER_ID</key>
	<string>182756408306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ab.DevSlopesSocial</string>
	<key>PROJECT_ID</key>
	<string>devslopes-social-2a0ba</string>
	<key>STORAGE_BUCKET</key>
	<string>devslopes-social-2a0ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:182756408306:ios:540af5da1481e26f</string>
	<key>DATABASE_URL</key>
	<string>https://devslopes-social-2a0ba.firebaseio.com</string>
</dict>
</plist>